<link rel="stylesheet" href="/css/usuario/historico.css">

<form method="GET" id="form">
    <div class="row mt-4">
        <div class="col-auto">
                <select class="form-control" name="mes" id="mes">
                    {{#each mes}}
                    <option value="{{num}}" {{#if selecionado}} selected {{/if}}>{{mes}}</option>
                    {{/each}}
                </select>
        </div>
        <div class="col-auto">
                <select class="form-control" name="ano" id="ano">
                    {{#each ano}}
                    <option value="{{ano}}" {{#if selecionado}} selected {{/if}}>{{ano}}</option>
                    {{/each}}
                </select>

        </div>
</form>
{{#if registro}}
<div class="col-12">
    <table class="table table-bordered table-dark mt-4">
        <thead>
            <tr>
                <th class="text-center">Dia</th>
                <th class="text-center">Entrada</th>
                <th class="text-center">Saída</th>
            </tr>
        </thead>
        <tbody>
            {{#each dados}}
            <tr>
                <td>{{diaDasemana}} - {{dia}}</td>
                <td class="text-center">{{#if entrada}} {{entrada}} {{else}} {{#if fds}}
                    <strong>--------</strong> {{/if}} {{/if}}
                </td>
                <td class="text-center">{{#if saida}} {{saida}} {{else}} {{#if fds}}
                    <strong>--------</strong> {{/if}} {{/if}}</th>
            </tr>
            {{/each}}
            {{else}}
            <h1 class="mt-4">Sem registros...</h1>
            {{/if}}
        </tbody>
    </table>
</div>
</div>


<script src="/js/usuario/historico.js"></script>