<link rel="stylesheet" href="/css/navbar.css">

<nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/PoloUAB/{{#if adm}}adm/home{{else}}/home{{/if}}">PoloUAB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            {{#if user}}

            {{#if adm}}
            <li class="nav-item">
                <a class="nav-link {{#if menu}}active{{/if}}" href="/PoloUAB/adm/home"><i
                        class="bi {{#if menu}} bi-house-fill {{else}} bi-house {{/if}}"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if hora}}active{{/if}}" href="/PoloUAB/adm/horarios"><i
                        class="bi {{#if hora}} bi-clock-fill {{else}} bi-clock {{/if}}"></i> Horarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if feriados}}active{{/if}}" href="/PoloUAB/adm/feriados"><i
                        class="bi {{#if feriados}} bi-calendar2-week-fill {{else}} bi-calendar2-week {{/if}}"></i> Feriados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if usuarios}}active{{/if}}" href="/PoloUAB/adm/usuarios"><i
                        class="bi {{#if usuarios}} bi-people-fill {{else}} bi-people {{/if}}"></i> Usuarios</a>
            </li>
              <li class="nav-item {{#if registro}}active{{/if}}">
                <a class="nav-link" href="/PoloUAB/adm/registro"><i
                        class="bi bi {{#if registro}} bi-person-vcard-fill {{else}} bi-person-vcard {{/if}}"></i> Cadastro</a>
            </li>

            {{else}}
            <li class="nav-item">
                <a class="nav-link {{#if menu}}active{{/if}}" href="/PoloUAB/Home"><i
                        class="bi {{#if menu}} bi-house-fill {{else}} bi-house {{/if}}"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if hora}}active{{/if}}" href="/PoloUAB/Registrar-Horario"><i
                        class="bi {{#if hora}} bi-pencil-fill {{else}} bi-pencil {{/if}}"></i> Registrar Horario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if historico}}active{{/if}}" href="/PoloUAB/Historico"><i
                        class="bi {{#if historico}} bi-calendar-week-fill {{else}} bi-calendar-week {{/if}}"></i>
                    Historico</a>
            </li>
            {{/if}}
            <li class="nav-item">
                <a class="nav-link" href="/PoloUAB/sair"><i class="bi bi-x-lg"></i> Sair</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link {{#if login}}active{{/if}}" href="/PoloUAB/login"><i
                        class="bi {{#if login}} bi-person-fill-add {{else}} bi-person-add {{/if}}"></i> Login</a>
            </li>
            {{/if}}

        </ul>
    </div>
</nav>


<script src="/js/navbar.js"></script>